.layout {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    gap: 300px;
}
.page {
    display: flex;
    flex-direction: column;
}

.container {
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

