.aside {
    background-color: var(--page-background-color);
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding-top: 24px;
    min-height: 100vh;
}

